html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}



div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 236, 205);
  border: rgb(0, 0, 0);
  border-style: double;
  margin: 20px;
  padding: 20px;
}

form {
    background: rgb(53, 230, 206);
    font-size: 18px;
  }